@{
    ViewBag.Title = "About";
}

<div class="jumbotron text-center" style="background-color: #e0f7fa; padding: 3rem; border-radius: 15px;">
    <h1 style="color: #00796b;">🎈 About the Birthday Girl</h1>
    <p style="font-size: 1.2rem; color: #004d40;">
        Zoya is turning one year older and we can't wait to celebrate with all our family and friends!
        She's full of energy, laughter, and lots of love. Let's make this day extra special for her!
    </p>
</div>
